<style type="text/css">
	form {
		margin:0 auto;
		margin-top: 30px;
		text-align: center;
	}
	
	form input {
		font-size: 15px;
		padding: 5px;
		color: #333;
		width: 350px;
		text-align: center;
	}
	
</style>

<div id="welcome">
	It's hard to say exactly what "55 degrees" feels like. But everyone knows how hot or cold they felt yesterday. So rather than giving today's temperature in absolute units, <strong>relweather</strong> tells you how today is going to feel <em>relative to yesterday</em>. <br/><br/> To get started, <strong>enter your zip code or city into the box below</strong>.
</div>

<form action="/forecast/redirect_search">
	<input type="text" name="q" id="q"/>
</form>